
/* The --first-color orsimilar property creates a custom property that can be ysed in other declarations 
   using var() function. like background-color: var(--first-color)
   See https://developer.mozilla.org/en-US/docs/Web/CSS/--* */

/* Material */
:root {
    --mdc-theme-primary: #64b5f6;
    --mdc-theme-on-primary: #000000;
    --mdc-theme-secondary: #757ce8;
}

/* top/bot lft/right blur rad spread*/
mwc-top-app-bar-fixed {
    box-shadow: 2px 2px 5px 2px rgb(170, 169, 169);
    margin-bottom: 20px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* mwc-button {
    color: black;
} */



body {
    background-color: lightblue;
}

.explorer-table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 7px;
    box-shadow: 2px 2px 5px 2px rgb(170, 169, 169);
    margin-top: 10px;;
}

.app-title {
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    align-content: center;
    /* text-decoration: underline; */
}

.app-title-text {
    font-size: 20px; 
}

tr.explorer-table-title-row {
    background-color: rgb(117, 111, 111);
}
  
th.explorer-table-title-cell {
    padding: 15px;
    text-align: left;
    text-decoration: underline;
    background-color: rgb(117, 111, 111);
    border-collapse: collapse;
    font-size: 15px;
    font-family: Roboto;
}

/* For the title of tags column, align the control in the middle*/
th.explorer-table-tags-title-cell {
    padding: 15px;
    text-align: center;
    text-decoration: underline;
    background-color: rgb(117, 111, 111);
    border-collapse: collapse;
    font-size: 15px;
}
  
td.explorer-table-cell {
    padding: 15px;
    font-size: 15px;
    font-family: Roboto;
    border-bottom: 1px solid #ddd;
  }


  
 

table.explorer-table  tr:nth-child(2n) {
    background-color:rgb(235, 228, 228);
    border-bottom: 1px solid #ddd;
}

table.explorer-table  tr:nth-child(2n+1) {
    background-color: white;
    border-bottom: 1px solid #ddd;
}


table.explorer-table  tr:hover {
    background-color: rgb(224, 202, 202);
    align-self: center;
}

.explorer-div {
    align-content: center;
    margin: auto;
    width: 95%;
}
 
/* ============================================================== */
/* Tool tip hover help*/

/* SEE https://www.w3schools.com/css/css_tooltip.asp */




/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-size: 10px;
  font-family: Roboto;
  font-weight: normal;
  visibility: hidden;
  width: 80px;
  background-color: rgb(235, 228, 228);
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  top: -5px;
  right: 105%;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

  